html, body {
  height: 100%;
  margin: 0px;
}

:root {
  --main-color: white;
  --main-bg-color: black;
  --main-font: Menlo, Monaco, "Courier New", monospace;
}

.container {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

#time {
  text-align: center;
  font-size: 13vw;
  font-family: var(--main-font);
}

#message {
  position: absolute;
  bottom: 3vh;
  display: none;
  margin: auto;
  /* width: 100px; */
  /* height: 50px; */
  color: var(--main-color);
  background-color: var(--main-bg-color);
  font-size: 3vw;
  font-family: var(--main-font);
}

#noConnection {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#noConnection .panel {
  position: absolute;
  text-align: center;
  opacity: 0.5;
  left: 1vw;
  right: 1vw;
  bottom: 1vh;
  top: 1vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

#noConnection h1 {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  font-size: 4vw;
  font-family: var(--main-font);
  position: absolute;
  top: 3vh;
  margin: auto;
  text-align: center;
  width: 100%;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}